/* 로그인 상태 유지 체크박스 컴포넌트 */
.checkbox {
  inline-size: 125px;
  block-size: 25px;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  float: right;

  @media (min-width: 40rem) {
    float: left;
  }

  input {
    display: none;
  }

  .checkbox-img {
    inline-size: 1.5rem;
    aspect-ratio: 1/1;
    background: url("/src/login/src/unchecked.svg") no-repeat center/cover;
    display: inline-block;
  }

  input:checked + .checkbox-img {
    background: url("/src/login/src/checked.svg") no-repeat center/cover;
  }

  .label {
    inline-size: 6.0625rem;
    block-size: 1.3125rem;
    font-size: 0.75rem;
  }
}
